@import url(/utils/index.css);
@import url(../components/menu-bar.css);
@import url(../components/bottom-navbar.css);
@import url(/utils/styles.css);
@import url(/styles/components/botao.css);
@import url(../pages/index.css);
@import url(../components/movie.css);
@import url(../components/botao.css);
@import url(/utils/playlist.css);





